<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="MonitoringSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections> 
	
  <log4net configSource="log4net.config" />
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <connectionStrings />
  
  <userSettings>
    <MonitoringSystem.Properties.Settings>
      <setting name="DownloadPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AcATestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="TGTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="NixieTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="PulseTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="AQTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="DVTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="humidTestLink" serializeAs="String">
        <value />
      </setting>
      <setting name="ModbusAppLink" serializeAs="String">
        <value />
      </setting>
      <setting name="SSComAppLink" serializeAs="String">
        <value />
      </setting>
      <setting name="rrrr" serializeAs="String">
        <value />
      </setting>
      <setting name="TriphasicLink" serializeAs="String">
        <value />
      </setting>
      <setting name="PlusData" serializeAs="String">
        <value />
      </setting>
    </MonitoringSystem.Properties.Settings>
  </userSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-3.21.9.0" newVersion="3.21.9.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="LiveCharts" publicKeyToken="0bc1f845d1ebb8df" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.9.7.0" newVersion="0.9.7.0" />
  
            </dependentAssembly>
  
            <dependentAssembly>
  
                 <assemblyIdentity name="LiveCharts.Wpf" publicKeyToken="0bc1f845d1ebb8df" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-0.9.7.0" newVersion="0.9.7.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
